/* Importation des polices d'écritures */
@font-face {
    font-family: 'Teko';
    src: url(./Fonts/Teko-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./Fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Lalezar';
    src: url(./Fonts/Lalezar-Regular.ttf) format('truetype');
}

/* Changement du style de la scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #ffffff1e;

}

::-webkit-scrollbar-thumb {
    background: #e4e1e1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* Changement de la couleur par défaut des liens */
a {
    color: #b2d3e7;
}

/* Changement du style par défaut du body */
body {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #263C5F;
    /*Ajout d'une police pour mon site */
    font-family: 'Teko';

}

/* Ajout d'une image en background sur ma div ayant l'id pageIntegrale */
#pageIntegrale {
    width: 100%;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Style de mon block header */
header {
    position: relative;
    height: 100vh;
}

.clip-path-container {
    position: relative;
    left: 58%;
    top: 10%;
    width: max-content;
    height: 30vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style de mon titre h1 */
.container-titre h1 {
    font-size: 3.2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Lalezar';
    margin: 0;
    letter-spacing: .4em;
    color: #263C5F;
    text-transform: uppercase;
}

/* Style du premier span de mon titre h1 */
.clip-path-container h1 .titre-1 {
    font-family: 'Poppins';
    color: transparent;
    -webkit-text-stroke: .5px #263C5F;
}

/* Style du second span de mon titre h1 */
.clip-path-container h1 .titre-2 {
    font-size: 5.4vw;
    letter-spacing: .5em;
}

/* Positionnement de mon indicateur de scroll */
.fleche-defilement-bas {
    position: absolute;
    width: fit-content;
    cursor: pointer;
    top: 85%;
    left: 50%;
    animation: arrowBounce 2s infinite;

    transform: translateX(-50%);
}

/* Style de mon indicateur de scroll */
.fleche-defilement-bas * {
    display: block;
    width: 36px;
    height: 36px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
}

.defilement-bas-2 {
    position: absolute;
    top: 50%;
}

/* Animation de mon indicateur de scroll */
@keyframes arrowBounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(10px);
    }

    60% {
        transform: translateY(5px);
    }
}

/* Style de mon block main */
main {
    padding-top: 80px;
}

.container-apropos, .container-constats {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 88vh;
    flex-wrap: wrap;
}

.texte-constats, .texte-apropos {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titre-constats, .titre-apropos {
    font-family: 'Teko';
    font-size: 4em;
    margin: 15px 0;
}

/* Style de mon svg */
.container-svg {
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff14;
    padding: 20px 0;
    margin: auto;
    border-radius: 20px;
    height: 100vh;
}

/* Ajout d'un padding pour chaque élément enfant de premier étage de ma class .container-svg */
.container-svg>* {
    padding: 5px 5px;
    text-align: center;
}

.container-svg h2 {
    margin: 3px;
    font-size: 1.8rem;
}

/* Style de ma div ayant l'id legende */
#legende {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
}

/* Style de mon svg */
svg {
    width: 75vw;
}

svg g {
    font-size: .775rem;
}

/* Style de la légende */
.legende-container {
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 0 5px;
}

/* Style des cercles daans la légende */
.legende-cercle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Style des labels daans la légende */
.legende-label {
    padding: 0;
    margin: 0;
}

/* Style de la div permettant d'afficher au hover sur une barre du graph les informations du film */
.survoleFilm {
    visibility: hidden;
    background-color: #263C5F;
    position: absolute;
    padding: 20px;
    border-radius: 15px;
}

.survoleFilm p {
    font-size: 1.225rem;
    max-width: 150px;
    margin: 0;
}

.survoleFilm p span {
    margin-bottom: 100px;
}

/* Style de mes éléments ayant l'id detailFilm et detailPays */
#detailFilm, #detailPays {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

/* Changement de la taille de mes h3 situé dans les div ayant l'id detailFilm et detailPays */
#detailFilm h3, #detailPays h3 {
    font-size: 2.775rem;
}

#detailFilm .film-prime {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: row;
    justify-content: center;
}

.pays-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-items: center;
    max-width: 1100px;
}

.paysChoisi {
    text-align: center;
}

.pays-container .infos-container p {
    margin: 0;
}

.nomPays {
    text-align: center;
}

/* Modification de la marge à 0 pour tout les enfants de la div ayant la class film-prime */
.film-prime * {
    margin: 0;
}

/* Ajout d'une taille en largeur maximal pour le texte situé dans ma div info-filmPrime */
.film-prime .info-filmPrime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.film-prime .info-filmPrime div:first-child {
    max-width: 450px;
}

.film-prime h4, .films-nomines .titre-nomines, #annee-cristal {
    font-size: 2.225rem;
}

/* Ajout d'une graisse différente pour le premier enfant de p situé dans la div ayant la classe info-filmPrime */
.film-prime .info-filmPrime p :first-child, .survoleFilm p :first-child, #nominés p span:first-child, .pays-container .infos-container p span:first-child {
    font-weight: 800;
}

/* Style de mes éléments p situé ma div info-filmPrime et ma div ayant l'id #pays */
.film-prime .info-filmPrime p, #pays p {
    font-size: 1.5rem;
}

/* Style de ma div films-nomines */
.films-nomines {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.detailNomines {
    max-width: 1200px;
    gap: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
}

.detailNomines p {
    font-size: 1.4rem;
}

/* Style de mon block footer */
footer {
    border-top: 1px solid black;
    margin: 0 15px;
}

/* Style de mon titre h3 situé dans mon footer */
footer h3, footer .listeSources h4 {
    font-size: 3rem;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10vw;
    padding: 0 15px;
}

/* Style des éléments enfant de premier étage de la div ayant la class .footer-container */
.footer-container>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    align-items: center;
}

.footer-container div:first-child {
    align-items: start;
}

.div-footer {
    padding: 30px 0;
}

footer button {
    font-size: 1.5rem;
    background-color: transparent;
    border: 0px;
    color: #c8d7e2;
    cursor: pointer;
    font-family: "Teko";
}

.div-footer h4 {
    font-size: 2rem;
    margin: 0;
    font-weight: 800;
}

.listeSources h5 {
    margin: 0;
    font-size: 1.7rem;
}

.div-footer * {
    font-size: 1.3rem;
}

footer .listeSources {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 15px;
    margin: 0 10%;
}

.listeSources #fermeSource-top {
    left: 70%;
    position: absolute;
    top: 70px;
}

.container-listeSources {
    max-width: 800px;
}

.container-listeSources p, .container-listeSources li {
    font-size: 1.2rem;
    letter-spacing: 1px;
    max-height: 500px;
}

/* Changeement du style de certains éléments en fonction de la taille de l'écran */

/* Style si l'écran à une taille inférieur à 950px */
@media only screen and (max-width: 950px) {

    .container-titre h1 {
        font-size: 3.5vw;
    }

    /* Style du second span de mon titre h1 */
    .clip-path-container h1 .titre-2 {
        font-size: 5.9vw;
    }

    svg {
        width: 90vw;
        height: 90vh;
    }

    svg g {
        font-size: 1rem;
    }

    .container-apropos, .container-constats {
        height: 120vh;
    }


    .film-prime p, .films-nomines p {
        font-size: 1.225rem;
    }

    .pays-container {
        flex-wrap: wrap;
    }


    #detailFilm {
        margin: 0 15px;
    }

    .detailNomines {
        grid-template-columns: repeat(2, 1fr);

    }

    iframe {
        width: 480px;
        height: 270px;
    }

    footer>* {
        max-width: 100%;
    }

}

/* Style si l'écran à une taille inférieur à 750px */
@media only screen and (max-width: 750px) {
    .clip-path-container {
        top: 15%;
        left: 52%;
        width: 87%;
        transform: translateX(-50%);
        height: inherit;
    }

    .container-titre h1 {
        font-size: 8vw;
    }

    .titre-constats, .titre-apropos {
        font-size: 3rem;
    }

    .titre-constats, .titre-apropos {
        font-size: 3em;
    }

    .container-apropos, .container-constats {
        height: 120vh;
        font-size: .9rem;
    }

    /* Style du second span de mon titre h1 */
    .clip-path-container h1 .titre-2 {
        font-size: 10.4vw;
    }

    #pageIntegrale {
        background-image: url(./images/Background-950px.jpg);
    }

    .fermeSources {
        display: none;
    }

    footer .listeSources {
        margin: 0;

    }
}

@media only screen and (max-width: 550px) {
    iframe {
        width: 320px;
        height: 180px;
    }

    .container-apropos, .container-constats {
        font-size: .8rem;
        height: 160vh;
    }

    footer .listeSources li {
        font-size: .9rem;
    }
}
