body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #263C5F;
}

#fullpage {
    position: relative;
    width: 100%;
    background-image: url('./images/backgroundCompress.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 100vh;
}

.logo-container {
    position: relative;
    left: 55%;
    width: 35%;
    top: 15%;
}

.logo-container img {
    opacity: 1;
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main {
    height: 100vh;
    align-content: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}

footer>* {
    padding: 3%;
    width: 100%;
}

.svg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff1e;
}

.svg-container>* {
    padding: 50px 0 50px 0;

}

#legende {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

svg {
    overflow: visible;
    height: 90vh;
}

/* Style de la légende */
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* Style du cercle */
.legend-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}